*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.barre{
    position: sticky;
    top: 0;
    z-index: 999;
}

.barre-top{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.logo-img{
    width: 70px;
}

.barre-left{
    display: flex;
    
}

.mali{
    color: blue;
}
.edu{
    color:gold;
}

.text-box{
    font-size: 30px;
}
.slogan{
    color: green;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
}

.barre-right .right{
    display: flex;
    list-style: none;
}

.right li a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    color: #666;
}

.right li a:hover{
    background: blue;
    color: #fff;
    border-radius: 5px;
}


.container{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./Image/ChatGPT\ Image\ Jan\ 17\,\ 2026\,\ 02_10_22\ PM.png) no-repeat ;
    min-height: 100vh;
    width: 100%;
}

.welcome{
    max-width: 1000px;
    margin: 0 auto;
 padding: 60px 20px;
    color: #fff;
}

.container .text-box{
    margin-bottom: 40px;
    font-size: 40px;
}

.desc{
    line-height: 1.6;
    margin-top: 18px;
    font-size: 25px;
}

.btn-login{
    display: flex;
    gap: 60px;
}

.btn-login a{
display: inline-block;
flex-direction: column;
padding: 15px 20px;
margin-top: 20px;
gap: 30px;

}



.primary{
    background: green;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

.secondary{
    background: orangered;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}


.primary:hover{
    background: blue;
}

.secondary:hover{
background: blue;
}

.presentation-mlt{
    background: #eaeaff;
     padding: 100px 90px;
     box-shadow: 2px 6px 10px rgba(0,0,0,0.2);
}

.presentation{
    line-height: 1.9;
    width: 150%;

}

.text-gras{
    font-size: 30px;
    margin-bottom: 15px;
}

.presentation .ligne{
    font-weight: 600;
    margin-top: 10px;
    max-width: 1200px;
   
}

.presentation-mlt{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}



.cards-p{
    padding: 20px;
   text-align: center;
}

.cards-img{
    border-radius: 15px;
    
}


.logo-card{
    border-radius: 10px;
    
}

.voir{
    background: #fff;
    color: orangered;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid blue;
}

.voir:hover{
    background: orangered;
    color: #fff;
    border: 3px solid orangered;
}


.examens-pro{
    max-width: 1200px;
    padding: 90px 10px;
    margin: 0 auto;
    text-align: center;
}


.examens-gras{
    margin-bottom: 30px;
    font-size: 30px;
}

.examens-desc{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}


.examens-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}
.card-examen{
    background: #fff;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 2px 5px 10px rgba(64, 69, 97, 0.6);
   transition: all 0.3s ease;

}

.card-examen:hover{
      transform: translateY(-20px);
 
}

.icon{
    display: inline-block;
    
    flex-direction: column;
    text-decoration: none;
}

.icon i{
    margin-bottom: 40px;
    background: blue;
    padding: 20px 30px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    
}




.examens-box{
    margin-bottom: 40px;
}

.btn-examen{
   margin-top: 50px;
   margin-bottom: 20px;
}

.btn-examen a{
    background: blue;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 17px;

}



.btn-examen a:hover{
background: orangered;
padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 17px;
}








.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: none;
 
}












@media (max-width:768px){


    .barre-right .right{
        display: none;
    }

.btn-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc{
     font-size: 20px;
}



    .btn-login a{
        width:100%;
        padding: 12px 13px;
        text-align: center;
        
    }

   
    .presentation-mlt{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .presentation{
        max-width: 1200px;
    }
   
    .logo-card{
        max-width: 320px;
    }

   .examens-pro{
    width: 90%;
   }


   .examens-grid{
    width: 90%;
    margin: 0 auto;
   }



  .menu-toggle {
    display: block;
  }

    .right {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
     box-shadow: 2px 5px 10px rgba(64, 69, 97, 0.6);
  }

  .right.show {
    display: flex;
  }

  .right li {
    padding: 15px 0;
  }
}

